@import '../styles/helpers/helpers';

.usersList {
  position: relative;
  flex: 1 0 auto;
  margin-top: rem(10px);

  .userListTitle {
    height: rem(42px);
    border-bottom: 1px solid $color-border-muted;
    margin-top: rem(20px);
    margin-bottom: rem(10px);
    padding-bottom: rem(10px);

    h3 {
      margin: 0;
    }
  }

  .userListImage {
    width: rem(40px);
    height: rem(40px);
    object-fit: cover;
  }

  td {
    vertical-align: middle;
  }
}
