# ignore files when you run the docker build
.git
.gitignore
.vscode
.editorconfig
.eslintrc
README.md

# testing
coverage

# misc
.DS_Store
.env
.ent.test
node_modules
npm-debug.log

#docker
docker-*
docker-compose*
