@import '../styles/helpers/helpers';

.event-list {
  position: relative;
  flex: 1 0 auto;
  margin-top: rem(10px);
}

.event-list-title {
  height: rem(42px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-border-muted;
  margin-top: rem(20px);
  margin-bottom: rem(10px);
  padding-bottom: rem(10px);

  h3 {
    margin: 0;
  }
}

.event-card.card {
  position:relative;
  border: none;
  padding: 0;
  cursor: pointer;

  .event-card-wrapper {
    margin: rem(4px);
    padding: rem(10px);
  }
}

.event-card-image-wrapper {
  position: relative;

  .card-img-overlay{
    padding: 0
  }
}

.event-card-image.card-img {
  height: rem(200px);
  object-fit: cover;
  object-position: center;
  border: $event-card-image-border;
  box-shadow: $event-card-image-shadow;
  border-radius: 0;
}

.event-card-image-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: $color-card-image-opacity;
}

.event-card-body.card-body {
  padding: 1rem 0;

  .event-card-date {
    font-size: 0.8rem;
    margin-bottom: rem(6px);
    color: $color-text-muted;
    text-align: right;
  }
}

.event-card:hover .event-card-wrapper{
  box-shadow: $event-card-shadow;
  transition: box-shadow linear 100ms
}

.event {
  .event-image {
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .event-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .event-details {
      flex: 1 0 auto;
      width: 100%;
      justify-content: start;
      align-items: center;

      .event-wrapper {
        margin: rem(40px) rem(20px) 0 rem(20px);
        padding: 2rem;
        background: $color-main-background;
        border-radius: 2rem;
        box-shadow: $event-card-shadow;

        .event-title {
          font-weight: 500;;
        }

        .last-updated{
          font-size: 0.8rem;
          color: $color-text-muted;
        }

        p {
          font-size: 1.25rem;
          font-weight: 300;
          margin-bottom: rem(20px);
        }

        span {
          display: block;

          a {
            margin-left: 0;
          }
        }
      }
    }

    .event-edit-buttons {
      flex-shrink: 0;
      display: flex;;
      align-self: flex-end;
      justify-content: flex-end;
      margin: rem(15px);

      button {
        margin-left: rem(10px)
      }
    }
  }

  .event-description {
    margin: rem(20px) 0;
  }
}

.event-list-item {
  display: flex;
  flex-direction: row;
  margin: rem(8px) 0;
  padding: rem(10px);
  cursor: pointer;

  .event-list-image-wrapper {
    position: relative;

    .event-list-image {
      height: rem(140px);
      width: rem(260px);
      object-fit: cover;
    }

    .event-list-img-overlay{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background: $color-card-image-opacity;
    }
  }

  .event-list-item-body {
    margin-left: rem(30px);

    .event-date {
      font-size: 0.8rem;
      color: $color-text-muted;
    }
  }

}

.event-list-item:hover {
  box-shadow: $event-card-shadow;
  transition: box-shadow linear 100ms
}
