@import '../styles/helpers/helpers';

.event-list {
  position: relative;
  flex: 1 0 auto;
  margin: rem(20px) 0;
}

.event-card.card {
  position:relative;
  border: none;
  padding: 0;
  cursor: pointer;

  .event-card-wrapper {
    margin: rem(4px);
    padding: rem(10px);
  }
}

.event-card-image.card-img {
  border: $event-card-image-border;
  box-shadow: $event-card-image-shadow;
  border-radius: 0;
}

.event-card-body.card-body {
  padding: 1rem 0;
}

.event-card:hover .event-card-wrapper{
  box-shadow: $event-card-shadow;
  transition: box-shadow linear 100ms
}
