@import '../../styles/helpers/helpers';

.viewMode {
  margin-right: rem(20px);
  color: $color-text-muted;

  > span:hover,
  .viewModeActive {
    color: $color-dark;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem;

  :global {
    .page-link {
      color: $color-dark;
    }

    .page-link:hover {
      color: $color-link-hover;
      background-color: $WHITE
    }

    .page-item.active .page-link {
      background-color: $color-dark;
      border-color: $color-dark;
    }

    ul {
      margin-bottom: 0;
    }
  }
}
