@import '../styles/helpers/helpers';

.main-page {
  display: flex;
  flex-direction: column;

  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

    .header {
      text-align: center;
      padding: 2rem;
      background: $color-main-background;
      border-radius: 1rem;
    }
  }
}

