body {
  margin-top: $top-menu-height;
  background: $color-main-background;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

h2 {
  font-weight: 300;
}

h3, h4 {
  font-weight: 200;
}

#events-board {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $top-menu-height);
}

.full-height {
  min-height: $full-height;
}

.navbar {
  box-shadow: $navbar-shadow;
}

.content {
  flex: 1 0 auto;
}

.footer {
  height: $footer-height;
  flex-shrink: 0;
}

.user-image{
  width: rem(200px);
  height: rem(200px);
  object-fit: cover;
}

.custom-link {
  color: $color-link;
  margin-left: rem(10px);
}

.custom-link:hover {
  color: $color-link-hover;

}

.default-background {
  background: url($background-photo-url) bottom center/cover no-repeat;
}

.dropdown-menu,
.form-control {
  font-size: $mainFontSize;
}

.toast-top-right {
  top: 4.5rem;
}

.input-border-overlay {
  margin-top: -1.2rem;
  padding-top: 0.8rem;
}

// icon sizes
@for $i from 1 through $largest-icon-size {
  .icon-size-#{$i} {
    font-size: #{$i}px;
  }
}
