@import '../styles/helpers/helpers';

.participantsList {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: rem(10px);

  .participantsListTitle {
    height: rem(42px);
    border-bottom: 1px solid $color-border-muted;
    margin-top: rem(20px);
    margin-bottom: rem(10px);
    padding-bottom: rem(10px);

    h3 {
      margin: 0;
    }
  }

  .participantListImage {
    width: rem(40px);
    height: rem(40px);
    object-fit: cover;
    border-radius: 4px;
  }

  td {
    vertical-align: middle;
  }
}
